html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  background: #F5F5FA;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Poppins';
  font-size: 13px;
}

h1 {
  font-family: 'Poppins';
  font-size: 21px;
}

h2 {
  font-family: 'Poppins';
  font-size: 7px;
  font-weight: medium;
}

p {
  font-family: 'Poppins';
  font-size: 8px;
}
