html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: #BD4040;
  font-size: 40px;
}

h1 {
  font-family: 'Roboto';
  font-size: 60px;
}

h2 {
  font-family: 'Roboto';
  font-size: 40px;
}

p {
  font-size: 17px;
}
