html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  padding: 0 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: #BD4040;
  font-family: 'Poppins';
  color: white;
  font-size: 13px;
}

h1 {
  font-family: 'Poppins';
  font-size: 21px;
}

h2 {
  font-family: 'Poppins';
  font-size: 7px;
  font-weight: medium;
  color: #707070;
}

p {
  font-family: 'Poppins';
  font-size: 8px;
  color: #707070;
}
